<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
>
<head>
    <meta charset="UTF-8"/>
    <th:block th:insert="fragments/dependencies :: link"></th:block>
    <title>Free audiences</title>
</head>
<body>
<div th:replace="fragments/menu.html"></div>
<div class="p-3">
    <div class="ml-2 mr-2">
        <div class="mt-2">
            <h5>Choose date and time:</h5>
        </div>
        <form th:method="get" class="form-inline mt-2 mb-3" th:action="@{/freeAudiences}">
            <input type="date" id="start" th:name="date" class="form-control" required/>
            <select th:name="timeSpanId" class="form-control ml-2" id="group" required>
                <option value="" selected hidden>Number of lesson</option>
                <option th:each="timeSpan: ${timeSpans}" th:text="${timeSpan.getNumberOfLesson()}"
                        th:value="${timeSpan.getId()}"/>
            </select>
            <button type="submit" class="btn btn-primary ml-2">Show free audiences</button>
        </form>
    </div>
    <table class="table table-striped" id="table" th:if="${audiences}">
        <thead>
        <tr>
            <th scope="col">Name</th>
        </tr>
        </thead>
        <tr th:if="${audiences.isEmpty()}">
            <td>No audiences available</td>
        </tr>
        <tr th:each="audience : ${audiences}">
            <td th:text="${audience.getName()}"></td>
        </tr>
    </table>
</div>
<th:block th:insert="fragments/dependencies :: script"></th:block>
</body>