<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <th:block th:insert="fragments/dependencies :: link"></th:block>
    <title>Create audience</title>
</head>
<body>
<div th:replace="fragments/menu.html"></div>
<div class="p-3">
    <h3 class="d-inline-block">Audience creating</h3>
    <form class="form-horizontal" th:method="POST" th:object="${audience}" th:action="@{/audiences}">
        <div th:fragment="form(type)">
            <div class="form-floating mb-3 w-25">
                <label for="name">Name of audience:</label>
                <input th:field="*{name}" type="text" class="form-control" id="name" required
                       placeholder="Enter a name">
            </div>
            <div>
                <button type="submit" class="btn btn-primary"><span th:text="${type} ?: 'Create'"></span> audience
                </button>
            </div>
        </div>
    </form>
</div>
<th:block th:insert="fragments/dependencies :: script"></th:block>
</body>