<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <th:block th:insert="fragments/dependencies :: link"></th:block>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <title>Create teacher</title>
    <th:block th:insert="fragments/hidepassword :: style"></th:block>
</head>
<body>
<div th:replace="fragments/menu.html"></div>
<div class="p-3">
    <h3 class="d-inline-block">Teacher creating</h3>
    <form class="form-horizontal" th:method="POST" th:object="${teacher}" th:action="@{/teachers}">
        <div class="form-floating mb-3 w-25">
            <label for="name">Name of teacher:</label>
            <input th:field="*{name}" type="text" class="form-control" id="name" placeholder="Enter a name"
                   required>
        </div>
        <div class="form-floating mb-3 w-25">
            <label for="password">Password:</label>
            <input th:field="*{passwordHash}" type="text" placeholder="Enter a password" class="form-control key"
                   id="password" required>
        </div>
        <div class="form-floating mb-3 w-25">
            <label for="department">Department:</label>
            <select th:field="*{department}" class="form-control" id="department" required>
                <option value="" selected hidden> Please select department</option>
                <option th:each="department: ${departments}" th:text="${department.getName()}"
                        th:value="${department.getId()}"/>
            </select>
        </div>
        <div class="form mb-3 w-25">
            <label>Choose disciplines for teacher:</label>
            <select th:field="*{disciplines}" class="form-control select-picker" multiple id="disciplines">
                <option th:each="discipline: ${disciplines}"
                        th:text="${discipline.getName()} + '-' + ${#strings.toLowerCase(discipline.getCourse())} + ' course'"
                        th:value="${discipline.getId()}"/>
            </select>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Create teacher</button>
        </div>
    </form>
</div>
<script>$('.select-picker').selectpicker();
</script>
</body>