<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8"/>
    <th:block th:insert="fragments/dependencies :: link"></th:block>
    <title>Students</title>
</head>
<body>
<div th:replace="fragments/menu.html"></div>
<div th:replace="fragments/info.html :: info"></div>

<div class="p-3">
    <div class="mb-3">
        <h3 class="d-inline-block">Student list</h3>
        <a th:href="@{/students/new}" class="btn btn-primary btn-lg float-right" sec:authorize="hasAuthority('WRITE_STUDENT')">Create student</a>
    </div>
    <div th:replace="fragments/pagination_size.html :: changeSize(currentSize=${currentSize},pageUrl='/students?page=1&size=')"></div>
    <table class="table table-striped" id="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Group</th>
            <th></th>
        </tr>
        </thead>
        <tr th:if="${students.isEmpty()}">
            <td>No students available</td>
        </tr>
        <tr th:each="student : ${students}">
            <td th:text="${student.getName()}"></td>
            <td th:text="${student.getEmail()}"></td>
            <td th:text="${student.getGroup()?.getName()}"></td>
            <td>
                <div class="container">
                    <div class="row float-right">
                        <div class="col" sec:authorize="hasAuthority('WRITE_STUDENT')">
                            <a th:href="@{/students/{id}/edit (id=${student.getId()})}" class="btn btn-success"
                               role="button"><i class="fa-solid fa-pen-to-square"></i></a>
                        </div>
                        <div class="col" sec:authorize="hasAuthority('DELETE_STUDENT')">
                            <form th:method="DELETE" style="display: inline-block"
                                  th:action="@{/students/{id}(id=${student.getId()})}">
                                <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
<div th:replace="fragments/pagination.html :: pagination(entity=${students},page=${currentPage},pageUrl='/students?page=',postUrl='&size='+ ${currentSize})"></div>
<th:block th:insert="fragments/dependencies :: script"></th:block>
</body>